 body {
            font-family: Arial, sans-serif;
            background-color: #060606;
            margin: 0;
            padding: 0;
        }

        header {
            justify-content: center;
            height: 30px;
            width: 100%;
            top: 0;
            display: flex;
            position: fixed;
            border: none;
            box-shadow: 2px 1px 10px rgb(252, 6, 6);
        }

        .title1 {
            font-size: large;
        }

        .hckr {
            transition: .4s ease-in-out;
            cursor: pointer;
            text-shadow: 2px 2px 5px rgb(241, 9, 9);
            font-size: 20px;
            font-weight: bolder;
            color: rgb(0, 0, 0);
        }

        .hckr:hover {
            font-size: 25px;
        }

        footer {
            background-color: #3c3a3a;
            height: 30px;
            position: fixed;
            width: 100%;
            bottom: 0;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 70vh;
            margin-top: 50px;
            top: 50px;
        }

        .container {
            display: flex;
            width: 80%;
            height: 90vh;
            border: 1px #555;
            background-color: #212121;
        }

        .panel {
            flex: 1;
            padding: 10px;
            display: flex;
            flex-direction: column-reverse;
        }

        textarea {
            flex: 1;
            background-color: #060606;
            color: white;
            border: none;
            padding: 5px;
            font-family: monospace;
            resize: none;
            box-shadow: inset 2px 5px 5px rgb(15, 15, 15);
        }

        .preview {
            flex: 1;
            background-color: #0a0606;
            border: 1px solid #555;
            padding: 5px;
            resize: none;
            cursor: pointer;
        }

        button {
            cursor: pointer;
        }

        .copy-Button {
            background-color: #000000;
            box-shadow: 2px 5px 10px rgb(212, 14, 14);
            text-shadow: 2px 5px 10px rgb(208, 8, 8);
            padding: 5px;
            border-radius: 20px;
            color: rgb(0, 133, 249);
            text-shadow: 1px 2px 5px rgb(82, 5, 31);
            font-size: 20px;
            left: 5px;
            bottom: 5px;
            position: fixed;
        }

        .button3 {
            padding: 5px;
            background-color: #0c0c0c;
            right: 50px;
            bottom: 8px;
            position: fixed;
            border-radius: 20px;
            color: rgb(252, 252, 252);
            box-shadow: 2px 5px 10px rgb(212, 14, 14);
            text-shadow: 2px 5px 10px rgb(208, 8, 8);
            height: 50px;
        }

        .button3:hover {
            background-color: #0c0c0c;
            font-size: 16px;
        }

        .Btn {
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 50%;
            background-color: rgb(27, 27, 27);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: fixed;
            transition-duration: .3s;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
            right: 10px;
            top: 40px;
        }

        .svgIcon {
            fill: rgb(214, 178, 255);
        }

        .icon2 {
            width: 18px;
            height: 5px;
            border-bottom: 2px solid rgb(182, 143, 255);
            border-left: 2px solid rgb(182, 143, 255);
            border-right: 2px solid rgb(182, 143, 255);
        }
